* {
    box-sizing: border-box;
}

html {
    background-color: rgb(20, 20, 20);
}

p {
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

table,
td {
    border: 1px solid #333;
    color: white;
}

th {
    background-color: #333;
    color: #fff;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

.clear{
    clear: both;
}
.material-icons{
    color: red;
    vertical-align:text-bottom;
}

footer{
    display: flex;
    width: 100%;
    opacity: 0.6;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
b{
    color:black;
}
i{
    color: black;
}