* {
    color: white;
}

/* fond metropolis */
#metro {
    background-color: rgb(240, 240, 240);
}

#metro div {
    color: black;
}

#metro header a {
    color: black;
}

#metro nav a {
    color: black;
}

#metro nav a:hover {
    background-color: #86a1de;
}

#metro nav h2 {
    color: black;
}

#metro h1 {
    color: black;
}

#metro .batarticle h1 {
    background-color: rgb(240, 240, 240);
    box-shadow: none;

}

#metro .batarticle2 h1 {
    background-color: rgb(240, 240, 240);
    box-shadow: none;
}

#metro .batarticle {
    background-color: rgba(133, 158, 207, 0.7);
}

#metro .batarticle2 {
    background-color: rgba(133, 158, 207, 0.7);
}

#metro .closebtn {
    color: black;
}

#metro .closebtn:hover {
    color: #86a1de;
}

#metro footer p {
    color: black;
}

#metro footer a {
    color: black;
}

/* Fin fond metropolis */

body {
    width: 100%;
    margin: auto;
}

@media screen and (max-width:1024px) {

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1%;
        border: 1px solid grey;
        align-items: center;
        justify-content: space-between;
    }

    main section {

        width: 100%;
        padding: 1%;
    }

    main nav {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-top: none;
        width: 100%;
        padding: 1%;
        /* line-height: 175%; */
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }


    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 1%;
    }

    nav h2 {
        display: none;
    }

    /* batarticle */
    .batarticle {
        display: flex;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.753);
        color: black;
        flex-direction: column;
        margin-bottom: 1%;
    }

    .batarticle h1 {
        text-transform: uppercase;
        background-color: rgb(20, 20, 20);
        width: 100%;
        margin-top: -0.5%;
        border-radius: 0 0 10px;
        margin-left: -0.2%;
        box-shadow: 0px 0px 17px rgb(20, 20, 20);
        padding: 1.5%;
        color: rgb(255, 255, 255);
    }

    .batarticle p {
        word-break: break-word;
        padding: 1%;
        color: black;

    }

    .droite img {

        margin-right: 1%;
        width: 50%;
    }

    .gauche img {

        margin-right: 1%;
        width: 50%;
    }

    /* Fin batarticle */

    /* batarticle2 */
    .batarticle2 {
        display: flex;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.753);
        color: black;
        flex-direction: row-reverse;
        margin-bottom: 1%;
        flex-wrap: wrap;
        padding-bottom: 2%;
    }

    .batarticle2 h1 {
        text-transform: uppercase;
        background-color: rgb(20, 20, 20);
        width: 100%;
        margin-top: -0.5%;
        margin-right: -0.2%;
        border-radius: 0 0 0 10px;
        box-shadow: 0px 0px 17px rgb(20, 20, 20);
        padding: 1.5%;
        color: rgb(255, 255, 255);
    }

    .batarticle2 p {
        word-break: break-word;
        padding: 1%;
        color: black;
        flex-basis: 80%;
    }

    .droite img {

        margin: 1%;
        width: 99%;
    }

    .gauche img {

        margin: 1%;
        width: 99%;
    }

    /* fin batarticle2 */


    article .droite {
        display: flex;
        margin: 1%;
        flex-direction: column-reverse;
        align-items: center;
        flex-basis: 100%;
    }

    article .gauche {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 1%;
        flex-basis: 100%;
    }

    .centrer {
        overflow: scroll;
    }

    .alert {
        width: 100%;
        border-radius: 10px 0 0 10px;
        padding: 20px;
        color: white;
    }

    .navimage,
    .navimage2 {
        display: none;
    }

}

/* Fin mobile */


@media screen and (min-width: 1024px) {

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1%;
        border: 1px solid grey;
        align-items: center;
        justify-content: space-between;
    }

    main {
        display: flex;
        width: 100%;
        border: 1px solid grey;
        border-top: none;
        padding: 0.5%;
    }

    main nav {
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        border-top: none;
        border-left: none;
        border-bottom: none;
        width: 15%;
        padding: 1%;
        line-height: 175%;
    }

    nav hr {
        display: none;
    }

    nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        padding: 1%;
    }

    main section {

        width: 85%;
        padding: 1%;
    }

    /* batarticle */
    .batarticle {
        display: flex;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.753);
        color: black;
        flex-direction: column;
        margin-bottom: 1%;
    }

    .batarticle h1 {
        text-transform: uppercase;
        background-color: rgb(20, 20, 20);
        width: 15%;
        margin-top: -0.5%;
        margin-left: -0.5%;
        border-radius: 0 0 10px 0;
        box-shadow: 0px 0px 17px rgb(20, 20, 20);
        padding: 1%;
        color: rgb(255, 255, 255);
    }

    .batarticle p {
        word-break: break-word;
        padding: 1%;
        color: black;
        flex-basis: 80%;
    }

    .droite img {
        flex-basis: 20%;
        margin-right: 1%;
        width: 25%;
    }

    .gauche img {
        flex-basis: 20%;
        margin-right: 1%;
        width: 25%;
    }

    #batvideo {

        min-width: 50%;
        min-height: 50%;
    }

    /* Fin batarticle */

    /* batarticle2 */
    .batarticle2 {
        display: flex;
        width: 100%;
        background-color: rgba(245, 245, 220, 0.753);
        color: black;
        flex-direction: row-reverse;
        margin-bottom: 1%;
        flex-wrap: wrap;
        padding-bottom: 2%;
    }

    .batarticle2 h1 {
        text-transform: uppercase;
        background-color: rgb(20, 20, 20);
        width: 15%;
        margin-top: -0.5%;
        margin-right: -0.5%;
        border-radius: 0 0 0 10px;
        box-shadow: 0px 0px 17px rgb(20, 20, 20);
        padding: 1%;
        color: rgb(255, 255, 255);
    }

    .batarticle2 p {
        word-break: break-word;
        padding: 1%;
        color: black;
        flex-basis: 80%;
    }

    .droite img {
        flex-basis: 20%;
        margin-right: 1%;
        width: 25%;
    }

    .gauche img {
        flex-basis: 20%;
        margin-right: 1%;
        width: 25%;
    }

    /* fin batarticle2 */

    article h1 {
        font-size: 1vw;
    }

    article .droite {
        display: flex;
        margin-right: 0.5%;
        flex-direction: row;
        align-items: center;
        flex-basis: 100%;
    }

    article .gauche {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: 1%;
        flex-basis: 100%;
    }

    .centrer {
        margin: 1%;
        display: flex;
        justify-content: center;
    }

    .alert {
        width: 40%;
        border-radius: 10px 0 0 10px;
        padding: 20px;
        color: white;
    }

}

/* Fin desktop */




header p {
    width: 60%;
    text-align: center;
}



nav a:hover {
    color: black;
    background-color: #fbf304;
}

nav h2 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}


details {
    margin: 2%;
    font-size: larger;
}

summary {
    color: bla ck;
}

table {
    margin: 1%;
    width: 100%;
}

table td {
    color: black;
}

td {
    width: auto;
    text-align: center;
}

tr img {

    width: 100%;
    height: auto;
}

/* td img:hover{
    zoom:300%;
} */

.navimage {

    width: 15%;
    z-index: -1;
    position: fixed;
    bottom: -1%;
    left: 0;
}

.navimage2 {

    width: 12%;
    position: fixed;
    z-index: -1;
    bottom: -2%;
    left: 0;
}

.marquee-rtl {
    width: 90%;
    /* largeur de la fenêtre */
    overflow: hidden;
    /* masque tout ce qui dépasse */
}

.marquee-rtl> :first-child {
    display: inline-block;
    /* modèle de boîte en ligne */
    padding-right: 2em;
    /* un peu d'espace pour la transition */
    padding-left: 100%;
    /* placement à droite du conteneur */
    white-space: nowrap;
    /* pas de passage à la ligne */
    animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0, 0, 0);
        /* position initiale à droite */
    }

    100% {
        transform: translate3d(-100%, 0, 0);
        /* position finale à gauche */
    }
}

nav hr {
    width: 10%;
    opacity: 0.4;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #fbf304;
}

#batvideo {
    width: 100%;
}

footer {
    border: 1px solid grey;
    border-top: none;
    border-bottom: none;
}